body{
    align-items: center;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

button{
    background-color:white;
    border: none;
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    height: 5em;
    text-align: center;
    width: 10em;
}

h1{
    margin: 0;
}

li{
    font-size: 1em;
    padding: 0.5em;
}

ul{
    list-style-type: none;
    padding: 0;
}

.card{
    border-color: white;
    border-radius: 2em;
    border-style: solid;
    border-width: 1em;
    min-width: 530px;
    overflow: hidden;
    padding: 2em;
    position: relative;
    transform: scale(1.5);
}

.error{
    margin: 0;
}

.finish-btn, .nxt-btn{
    bottom: 1em;
    float: right;
    height: 2em;
    position: absolute;
    right: 1em;
    width: 5em;
}

.no-btn, .yes-btn{
    bottom: 1em;
    height: 2em; 
    margin: 0 1em;
    position: absolute;
    right: 7em;   
    width: 5em;
}

.yes-btn{
    right: 1em;
}

#close-up::before{
    background: url('assets/benji-close-up.jpg');
    background-size: cover;
    background-position: left;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#harness::before{
    background: url('assets/benji-in-harness.jpg');
    background-size: cover;
    background-position: left;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#stuffed::before{
    background: url('assets/stuffed-benji.jpg');
    background-size: cover;
    background-position: top;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#valentine::before{
    background: url('assets/valentine-benji.jpg');
    background-size: cover;
    background-position: left;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#working::before{
    background: url('assets/working-benji.jpg');
    background-size: cover;
    background-position: left;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#yay::before{
    background: url('assets/yay-benji.jpg');
    background-size: cover;
    background-position: left;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

button:hover{
    background-color: rgb(93, 93, 93);
    color: white;
    cursor: pointer;
}